body{
    font-family:"Raleway", "Sans serif";
}
main, header{
    margin: 20px;
}
/* header*/
.content-header{
    display:flex;
    flex-direction: row;
    justify-content: space-between; 
    align-items: center;
    width: 100%;
    height: 60px;
    margin: 20px;
    font-family:"Raleway", "Sans serif";
    font-weight:200
}
.image-logo{
    width: 100px;
    height: 50px;
}
header a {
color:black;
text-decoration: none;
}
.menu-nav{
    display:flex;
    flex-direction:row;
    justify-content: center;
    font-size: 18px;
}
.menu-bar{
color: #0065fc;
margin: 2px 60px;
}
                /* bouton de recherce*/ 
.title h1{
 margin-bottom: -5px;
 font-family:"Raleway", "Sans serif"; 
 font-weight: bolder;
}
 .zone-recherce p{
font-size: 18px;
 }
 .searchFormWrapicon{
  background-color:#d9d9d9;
  border-radius: 15px 0px 0px 15px;
  padding: 16px;
  text-align: center;
 }
 form{
    padding: 12px;
 }
.searchFormSearchinput{
    background-color:white;
    padding: 16px;
    margin-right: -3px;
    border-right: none;
    border-left: none;
    border-top:solid 1px #f2f2f2;
    border-bottom:solid 1px #f2f2f2; 

}
.search{
    background-color: #0065fc;
    color:white;
    padding: 15px;
    border-radius: 0px 10px 10px 0px;
    border: none;
}

                    /*filtre*/
.contenaire-filtre{
    display: flex;
    justify-items: center;
    align-items:center;
    width: 900px;
    height: 100px;
    margin-top: 20px; 
    
 } 
 .contenaire-filtre h2{
  margin-bottom: 30px;
  padding: 15px;
  font-family:"Raleway", "Sans serif" ;
  font-weight: bold;
  }
.content-bouton{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 25px;
    border: 2px solid #d9d9d9;
    border-radius: 25px;
    margin-bottom: 10px;
    cursor: pointer;
    transition-duration: 0.1s;
    padding-right: 15px;
}   
.content-icon{
    background-color:#DEEBFF;
    color:#0000ff ;
    border-radius: 100%;
  height: 50px;
  width: 50px;
  min-height: 25px;
  min-width: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: -2px;
}
